{% extends 'partials/hack.html'%}{% block content2%}
<div class="m-4">
    <div class="row">
        <div class="col-9 my-4 mx-auto">
            <div class="card text-black shadow mb-4">
                <div class="card-header mx-auto">
                    <h5 class="card-title">Project Guide</h5>
                </div>
                <img class="card-img-top rounded-circle mx-auto" src="/media/pemag.jpg" alt=" card-img" style="height: 200px; width: 250px;">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Guide: Mr. Pema Galey</h5>
                    <p class="card-text">Assistant Lecture of College Of Science and Technology, 2022</p>
                </div>
            </div>
        </div>
        <div class="col-4 my-4">
            <div class="card text-black shadow mb-4">
                <div class="card-header mx-auto">
                    <h5 class="card-title">Developers</h5>
                </div>
                <img class="card-img-top rounded-circle mx-auto" src="/media/govin.jpg" alt=" card-img" style="height: 200px; width: 250px;">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Team member: Mr.Govinda Gimerary</h5>
                    <p class="card-text">Student of College of Science and Technology, 4IT-2022</p>
                </div>
            </div>
        </div>
        <div class="col-4 my-4">
            <div class="card text-black mb-4  shadow">
                <div class="card-header mx-auto">
                    <h5 class="card-title">Developers</h5>
                </div>
                <img class="card-img-top rounded-circle mx-auto" src="/media/sonam.jpg" alt=" card-img" style="height: 200px; width: 250px;">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Team member: Ms.Sonam Lhamo</h5>
                    <p class="card-text">Student of College of Science and Technology, 4IT-2022</p>
                </div>
            </div>
        </div>
        <div class="col-4 my-4">
            <div class="card text-black mb-4 shadow">
                <div class="card-header mx-auto">
                    <h5 class="card-title">Developers</h5>
                </div>
                <img class="card-img-top rounded-circle mx-auto" src="/media/profile.jpg" alt=" card-img" style="height: 200px; width: 250px;">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Team member: Mr. Karma Tenzin</h5>
                    <p class="card-text">Student of College of Science and Technology, 4IT-2022</p>
                </div>
            </div>
        </div>
        <div class="col-6-md-5 my-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}