<nav class=" navbar navbar-custom" style="background-color: #fb9a04">
    <div class="container">
        <img src="/media/download.png" style="height: 70px; width: 75px; border-radius: 50px; " alt="">
        <h4 style="color: black;">ཞེ་སའི་ཚིག་མཛོད།</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    </div>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a style="color: black;" href="{% url 'users-home'%}">Home</a>
        <a style="color: black;" href="{% url 'users-contact'%}">Contact</a>
        <a style="color: black;" href="{% url 'users-about'%}">About Us</a>
    </div>
</nav>